<!-- 
---

import { Image } from 'astro:assets';
import { getCollection } from "astro:content";
export async function getStaticPaths() {
	const blogEntries = await getCollection('PortfolioEntries');
	return blogEntries.map(
		entry => ({
			params: { slug: entry.slug },
			props: { entry },
		})
	);
}

const { entry } = Astro.props;

---
<title>DVNAMIS | {entry.data.title}</title>

<html>
  <div class="largeheader" >
    {entry.data.image && <img class="headerImageLarge" src={entry.data.image} alt={entry.data.image_alt || ''} />}
    <div class="largeheaderText">
      {entry.data.title}
      <div class="creationdates">
        {entry.data.timeOfCreation}
      </div>
      <div class="underheader">
        {entry.data.undertitle}
      </div>
  
    </div>
  </div>
  
  <div>
    <div class="parallaxbackground">
      <script>
        import '../scripts/scrollAppearHeader.js'
        import '../scripts/transformScaling.js'
      </script>
      <div id="invisibleheader">
        <slot name="head"/>
      </div>
      
      <div>
        <div class="row">
          <div class="imageColumn">
          </div>
          <div class="textColumn">
            <slot />
          </div>
        </div>
  
  
  
        <script>
          import "../scripts/menu.js";
        </script>
      </div>
    </div>
  </div>
</html>-->
